html
  head
    link(href="/css/animate.css" rel="stylesheet")
    link(href="/css/main.css" rel="stylesheet")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    input#user(value=user.username type="hidden")
    input#token(value=user.token type="hidden")
  body

    block content

    script(src="/js/lib/jquery-2.2.0.min.js")
    script(src="/js/lib/materialize.min.js")
    script(src="/js/index.js")