extends ./layout

block content
  .row.navbar-fixed
    nav.grey.lighten-4
      .nav-wrapper
        a.red-text.text-darken-2(href="/" class="brand-logo center") Prestamax
        a.red-text.button-collapse(href="/" data-activates="mobile-demo")
          i.material-icons menu
        ul#nav-mobile.right.hide-on-med-and-down
          li
            a.red-text.text-darken-2(href="/") 
              i.material-icons.right home
              | Inicio
          li
            a.red-text.text-darken-2(href="/")
              i.material-icons.right account_box 
              | #{user.username}
          li
            a.red-text.text-darken-2(href="/logout")
              i.material-icons.right power_settings_new
              | Cerrar Sesión
        ul#mobile-demo.side-nav
          li
            a.red-text.text-darken-2(href="/") 
              | Inicio
          li
            a.red-text.text-darken-2(href="/") 
            | #{user.username}
          li
            a.red-text.text-darken-2(href="/logout")
              | Cerrar Sesión
  .row
    .col.m3.s12(style="height:80%;position:fixed")
      .col.s12.z-depth-1.grey.lighten-4(style="height:100%")
        .row
          .col.s12.center.green.darken-2.white-text.center-align(style="margin-top:10%;")
            h5 Menú
              i.material-icons.right more_vert
        .row
          .collection
            a#clients.trigger.collection-item.active(href='/#/')
              i.material-icons.right supervisor_account
              b Clientes
            a#loans.trigger.collection-item(href='/#/loans') 
              i.material-icons.right thumbs_up_down
              b Prestamos
    .col.s9.offset-s3
      #rootNode.col.s12.grey.lighten-4