html
  head
    link(href="/css/main.css" rel="stylesheet")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
  body
    div.container(style="margin-top:10%;")
      div.row
        div.col.s10.offset-s1.z-depth-1
          div.row
            div.col.s12.m12.center-align.white-text.red.darken-2
              h3 Presta Max
          .row.center-align
            include ./flash
          div.row
            form.col.s12.m6.offset-m3(method="POST" action="/login")
              input(type='hidden', name='_csrf', value=_csrf)
              div.row
                div.input-field.col.s12
                  i.material-icons.prefix account_circle
                  input.validate(id="first_name" name="username" type="text")
                  label(for="first_name") Username
              div.row
                div.input-field.col.s12
                  i.material-icons.prefix https
                  input.validate(id="first_name" name="password" type="password")
                  label(for="first_name") Password
              div.row.right-align
                div.col.s12
                  button.btn.waves-effect.waves-light
                    i.material-icons.prefix input
          div.row
            div.col.s11.right-align.grey-text.text-darken-1 © 2016 - 2016 PrestaMax 
    script(src="/js/lib/jquery-2.2.0.min.js")
    script(src="/js/lib/materialize.min.js")